/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

/* Colors and vars */

:root {
	--main-color: #e1e0e0;
	--box-shadow: rgba(104, 108, 112, 0.2) 0px 0px 14px;
}

/* Design */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	color: #fafafa;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 400;
	width: 100%;
	height: 100%;
	letter-spacing: 0;
	margin: 0;
	padding: 0;
	background-image: url('data:image/svg+xml,%3Csvg width="100" height="20" viewBox="0 0 100 20" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z" fill="%239C92AC" fill-opacity="0.4" fill-rule="evenodd"/%3E%3C/svg%3E');
}

h1 {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	margin: 0;
	color: #000;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.main {
	height: 100%;
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cards_box {
	width: 100%;
	height: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cards {
	width: 100%;
	height: 95%;
	display: grid;
	gap: 2.5rem;
	grid-template-columns: 100%;
	margin: 0;
	padding: 0;
}

.cards.one {
	width: 100%;
	height: 20%;
	display: grid;
	gap: 2.5rem;
	margin: 0;
	padding: 0;
	grid-template-columns: 100%;
}
.cards.two {
	width: 100%;
	height: 50%;
	display: grid;
	gap: 2.5rem;
	margin: 0;
	padding: 0;
	grid-template-columns: 100%;
}
.cards.three {
	width: 100%;
	height: 70%;
	display: grid;
	gap: 2.5rem;
	margin: 0;
	padding: 0;
	grid-template-columns: 100%;
}
.cards.four {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 95%;
	display: grid;
	gap: 2rem;
	margin: 0;
	padding: 0;
	grid-template-columns: 100%;
}
.cards.five {
	width: 100%;
	height: 80%;
	display: grid;
	gap: 1.5rem;
	margin: 0;
	padding: 0;
	grid-template-columns: 1fr 1fr;
}
.cards.six {
	width: 100%;
	height: 80%;
	display: grid;
	gap: 2rem;
	margin: 0;
	padding: 0;
	grid-template-columns: 1fr 1fr;
}
.cards.seven {
	width: 100%;
	height: 80%;
	display: grid;
	gap: 2rem;
	margin: 0;
	padding: 0;
	grid-template-columns: 1fr 1fr;
}
.cards.eight {
	width: 100%;
	height: 80%;
	display: grid;
	gap: 2.5rem;
	margin: 0;
	padding: 0;
	grid-template-columns: 1fr 1fr;
}
.cards.nine {
	width: 100%;
	height: 70%;
	display: grid;
	gap: 1.5rem;
	margin: 0;
	padding: 0;
	grid-template-columns: 1fr 1fr;
}
.cards.ten {
	width: 100%;
	height: 70%;
	display: grid;
	gap: 1.5rem;
	margin: 0;
	padding: 0;
	grid-template-columns: 1fr 1fr;
}

.cards_item {
	width: 100%;
}

.linkbox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	font-family: "Poppins", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	border-radius: 15px;
}

.status-card {
	padding: 2.5rem;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("https://picsum.photos/820");
	box-shadow: var(--box-shadow);
	border-radius: 15px;
	z-index: 1;
	color: #000;
}

.status-card h4 {
	margin: 0;
	font-size: 1.5rem;
	text-shadow: 0px 0px 10px #fafafa;
}

.made_by {
	height: 5%;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	left: 0;
}

.made_by > p {
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	color: black;
	margin: 10px 0;
}

/* Modal Senha */
.modalAlert {
	display: none; /* Hidden by default */
	position: fixed;
	z-index: 1;
	padding-top: 30vh;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.8); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.522); /* Black w/ opacity */
	backdrop-filter: blur(5px);
	align-items: center;
	justify-content: center;
	text-align: center;
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	max-width: 1400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	border-radius: 20px;
}

.modal-header {
	padding: 10px 0px;
	background-color: #ff0000;
	color: white;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.modal-header h2 {
	font-size: 2.5rem;
	font-weight: bolder;
	margin: 0;
}

.closeA {
	color: white;
	float: right;
	font-size: 3rem;
	font-weight: bold;
	margin: 0 20px;
}

.closeA:hover,
.closeA:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.h2alert {
	font-size: 1.5rem;
	font-weight: bolder;
}

.modal-body {
	padding: 15px 15px;
	display: flex;
	flex-direction: column;
}

.modal-body > h3 {
	font-size: 3rem;
	font-weight: normal;
	margin: 0;
	color: #000;
}
